
* {
	margin: 0;
	padding:0;
  box-sizing: border-box;
  
}

.cardHighlight{
	min-height: 100%;
  background-color: #468285;
  color: white;

}
.mainCont{
	min-height: 90vh;
}
.pictureKo{
	border-radius: 100%;
	 text-align: center;
}
body{
background-color:#f5f1da;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");



}

.jumbo{
   background-color: #001f22;
   color: white;
}

footer {
  text-shadow: 1px 1px #001a66;
  background-color: #025ead;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  color:white;
  font-weight: bold;
}

.parentCont{
  min-height: 100vh;
}



#__next {
  margin-bottom: 0;
  }


.about-jumbo{

  background-color: #001f22;
  color: white;
}

.profile-header{
  background-color: #001705;
}


/*.profile-card{
  display: flex;
  width: 30rem;
  justify-content: center;
}*/


/*rgba(230, 236, 255, 0.6);*/